@import "tailwindcss";

@font-face {
  font-family: 'KG Second Chances Solid';
  src: url('/fonts/KGSecondChancesSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #99CC99;
  font-family: 'KG Second Chances Solid', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}